html{
    background-color:rgb(236, 233, 233);
}

/* body{
} */

.instructionsets{
    text-align:left;
    padding-right:10px;
    padding-left:10px;
}

h1{
    text-align:center;
    font-family:brandon grotesque;
    font-size:50px;
    color: violet;
    text-decoration:underline;
    text-decoration-color:rgb(66, 193, 247);
    text-decoration-style:wavy;
}

h2{
    text-align:right;
    font-family:brandon grotesque;
    font-size:25px;
    color:black;
    padding-right:70px;
}

h2.image{
    padding-right:30px;
}

/* p{
    text-align:left;
    font-family:brandon grotesque;
    font-size:20px;
    vertical-align:middle;
    padding-left:70px;
    padding-bottom:30px;
    border:7px dotted rgb(66, 193, 247);
} */

.column{
    float:left;
    width:33.33%;
    padding-left:70px;
}

img{
    padding-left:120px;
}

.links{
    padding-left:60px;
}

.link-1{
    text-align:center;
    font-family:brandon grotesque;
    font-size:25px;
    max-width:600px;
    padding-top:10px;
    padding-bottom:15px;
    /* padding-left:70px; */
    display:flex;
    flex-direction:column;
    text-align:center;
    vertical-align: middle;
    line-height:15px; 
    border:5px dotted rgb(66, 193, 247);
}

.link-2{
    text-align:center;
    font-family:brandon grotesque;
    font-size:25px;
    max-width:600px;
    padding-top:10px;
    padding-bottom:15px;
    /* padding-left:70px; */
    display:flex;
    flex-direction:column;
    text-align:center;
    vertical-align: middle;
    line-height:30px; 
    border:5px dotted rgb(66, 193, 247);
}

.link-3{
    text-align:center;
    font-family:brandon grotesque;
    font-size:25px;
    max-width:600px;
    padding-top:10px;
    padding-bottom:15px;
    /* padding-left:70px; */
    display:flex;
    flex-direction:column;
    text-align:center;
    vertical-align: middle;
    line-height:30px; 
    border:5px dotted rgb(66, 193, 247);
}

.link-4{
    text-align:center;
    font-family:brandon grotesque;
    font-size:25px;
    max-width:600px;
    padding-top:10px;
    padding-bottom:15px;
    /* padding-left:70px; */
    display:flex;
    flex-direction:column;
    text-align:center;
    vertical-align: middle;
    line-height:30px; 
    border:5px dotted rgb(66, 193, 247);
}

.link-5{
    text-align:center;
    font-family:brandon grotesque;
    font-size:25px;
    max-width:600px;
    padding-top:10px;
    padding-bottom:15px;
    /* padding-left:70px; */
    display:flex;
    flex-direction:column;
    text-align:center;
    vertical-align: middle;
    line-height:30px; 
    border:5px dotted rgb(66, 193, 247);
}

.link-6{
    text-align:center;
    font-family:brandon grotesque;
    font-size:25px;
    max-width:600px;
    padding-top:10px;
    padding-bottom:15px;
    /* padding-left:70px; */
    display:flex;
    flex-direction:column;
    text-align:center;
    vertical-align: middle;
    line-height:30px; 
    border:5px dotted rgb(66, 193, 247);
}

.info{
    padding-bottom:20px;
    border:7px dotted pink;
    display:flex;
    flex-direction:column;
    border-left-width:400px;
}

.side-by-side{
    display:flex;
}

.left{
    width:55%;
    padding-top:150px;
}

.right{
    width:45%;
}

.five{
    font-family:brandon grotesque;
    font-size:20px;
    padding-left:10px;
    padding-right:20px;
    padding-bottom:30px;
}

.days{
    display:flex;
}

.day-1{
    text-align:center;
    width:20%;
    padding-right:40px;
    /* border-left:2px solid rgb(66, 193, 247);
    border-right:2px solid rgb(66, 193, 247); */
}

.day-1-image{
    display:flex;
    justify-content:center;
    padding-right:100px;
}

.day-2{
    text-align:center;
    width:20%;
    padding-right:40px;
    /* border-right:2px solid rgb(66, 193, 247); */
}

.day-2-image{
    display:flex;
    justify-content:center;
    padding-right:95px;
}

.day-3{
    text-align:center;
    width:20%;
    padding-right:40px;
    /* border-right:2px solid rgb(66, 193, 247); */
}

.day-3-image{
    display:flex;
    justify-content:center;
    padding-right:95px;
}

.day-4{
    text-align:center;
    width:20%;
    padding-right:40px;
    /* border-right:2px solid rgb(66, 193, 247); */
}

.day-4-image{
    display:flex;
    justify-content:center;
    padding-right:95px;
}

.day-5{
    text-align:center;
    width:20%;
    padding-right:40px;
    /* border-right:2px solid rgb(66, 193, 247); */
}

.day-5-image{
    display:flex;
    justify-content:center;
    padding-right:95px;
}

.I-S-text-1{
    text-align:left;
    font-family:brandon grotesque;
    font-size:20px;
    vertical-align:middle;
    padding-left:70px;
    padding-bottom:30px;
    /* border:7px dotted rgb(66, 193, 247); */
}

.I-S-text-2{
    text-align:left;
    font-family:brandon grotesque;
    font-size:20px;
    vertical-align:middle;
    padding-left:70px;
    padding-bottom:30px;
    /* border:7px dotted rgb(66, 193, 247); */
}

.I-S-text-3{
    text-align:left;
    font-family:brandon grotesque;
    font-size:20px;
    vertical-align:middle;
    padding-left:70px;
    padding-bottom:30px;
    /* border:7px dotted rgb(66, 193, 247);   */
}

.I-S-text-4{
    text-align:left;
    font-family:brandon grotesque;
    font-size:20px;
    vertical-align:middle;
    padding-left:70px;
    padding-bottom:30px;
    /* border:7px dotted rgb(66, 193, 247);  */
}

.I-S-text-5{
    text-align:left;
    font-family:brandon grotesque;
    font-size:20px;
    vertical-align:middle;
    padding-left:70px;
    padding-bottom:30px;
    /* border:7px dotted rgb(66, 193, 247);  */
}

.IiF{
    font-family:brandon grotesque;
    font-size:20px;
    padding-left:1px;
    padding-bottom:30px;
}

.IiF-text-1{
    padding-left:40px;
    padding-bottom:30px;
}

.IiF-text-2{
    padding-left:40px;
    padding-bottom:30px;
}

.IiF-text-3{
    padding-left:40px;
    padding-bottom:30px;
}

.IiF-text-4{
    padding-left:40px;
    padding-bottom:30px;
}

.IiF-text-5{
    padding-left:40px;
    padding-bottom:30px;
}

.IiF-text-6{
    padding-left:40px;
    padding-bottom:30px;
}

.IiF-2D-image{
    display:flex;
    padding-top:20px;
}

.IiF-3D-image{
    display:flex;
    padding-top:20px;
}

.IiF-interactive-image{
    display:flex;
    padding-top:20px;
}

.bodytemp-both{
    display:flex;
}

.IiF-bodytemp-1{
    display:flex;
    padding-top:20px;
    width:24%;
}

.IiF-bodytemp-2{
    display:flex;
    padding-top:20px;
}

.IiF-necklace{
    display:flex;
    padding-top:20px;
    padding-bottom:20px;
}

.mindmap-IiF{
    display:flex;
    padding-top:20px;
}

.hours-127{
    font-family:brandon grotesque;
    font-size:20px;
    padding-bottom:30px;
}

.intro-127{
    padding-left:80px;
    padding-bottom:20px;
}

.video-127{
    padding-left:250px;
    padding-bottom:20px;
}

.images-1-127{
    display:flex;
    padding-bottom:5px;
    padding-top:5px;
    margin:none;
}

.images-2-127{
    display:flex;
    padding-bottom:5px;
    padding-top:5px;
    margin:none;
}

.images-1{
    display:flex;
    height:25%;
    flex-direction:column;
    vertical-align:left;
    line-height:30px;
    padding-right:120px;
}

.images-2{
    display:flex;
    height:25%;
    flex-direction:column;
    vertical-align:left;
    line-height:30px;
    padding-right:30px;
}

.images-3{
    display:flex;
    height:25%;
    flex-direction:column;
    flex-wrap:wrap;
    vertical-align: middle;
    line-height:30px;
    padding-right:120px;
}

.images-4{
    display:flex;
    height:25%;
    flex-direction:column;
    flex-wrap:wrap;
    vertical-align:left;
    line-height:30px;
    padding-right:130px;
}

/* .conclusion-127{
    padding-left:30px;
    padding-top:20px;
} */

.bib{
    text-align:center;
    font-family:brandon grotesque;
    font-size:15px;
    max-width:600px;
    text-align:center;
    display:flex;
    padding-left:400px;
}

.back-to-IiF{
    text-align:center;
    font-family:brandon grotesque;
    font-size:20px;
    max-width:600px;
    text-align:center;
    display:flex;
    padding-left:625px;
}

.the-vis{
    text-align:left;
    font-family:brandon grotesque;
    font-size:20px;
    vertical-align:middle;
    padding-left:70px;
    padding-bottom:30px;
}

.introduction{
    display:flex;
    padding-bottom:20px;
}

.research-ideation{
    display:flex;
    padding-bottom:20px;
}

.systems-map{
    display:flex;
    padding-bottom:20px;
}

.product-pitch{
    display:flex;
    padding-bottom:20px;
}

.disaster-exhibit{
    display:flex;
    padding-bottom:20px;
}

.conclusion{
    display:flex;
    padding-bottom:30px;
    padding-left:20px;
}

/* .systems-map-img{
    display:flex;
    height:25%;
    flex-direction:row;
    flex-wrap:wrap;
    vertical-align:left;
    line-height:30px;
    padding-right:200px;
} */

.avo-intro{
    display:flex;
    padding-bottom:30px;
    padding-left:20px;
    text-align:center;
    font-family:brandon grotesque;
    font-size:20px;
}

/* .avo-images{
    display:flex;
    padding-bottom:30px;
} */

.avo-conclusion{
    display:flex;
    padding-bottom:30px;
    padding-left:20px;
    text-align:center;
    font-family:brandon grotesque;
    font-size:20px;
}

.avo-link{
    display:flex;
    padding-bottom:30px;
    padding-left:630px;
    text-align:center;
    font-family:brandon grotesque;
    font-size:20px;
}